html {
    font-size: 62.5%
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.paketi,
.glavna,
.visoka,
.kvadratna,
.naslov,
.tekst {
    padding: 10px;
}

.paketi {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.paket-L,
.paket-M {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    gap: 10px;
}

.paket-L {
    flex: 0 0 100%;
    aspect-ratio: 2 / 1;
}

.paket-M {
    box-sizing: border-box;
    flex: 0 0 calc(50% - 5px);
    aspect-ratio: 1;
}

.paket-L img {
    grid-area: span 2 / span 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.glavna,
.visoka,
.kvadratna {
    overflow-y: auto;
    border: 2px solid #e0e0e0;
}

.glavna {
    grid-area: span 2 / span 1;
    border-left: none;
}

.visoka {
    grid-area: span 2 / span 1;
}

.kvadratna {
    grid-area: span 1 / span 1;
}

.paketi .naslov {
    font-size: 3rem;
    font-weight: bold;
    margin: 10px 0;
}

.paketi .tekst {
    font-size: 2rem;
    margin: 10px 0;
}

@media (max-width: 800px) {
    .paket-L {
        aspect-ratio: 1;
    }

    .paket-M {
        flex: 0 0 100%;
    }
}

.paketi ::-webkit-scrollbar {
    width: 5px;
}

.paketi ::-webkit-scrollbar-thumb {
    background: #e0e0e0;
}

.paketi ::-webkit-scrollbar-thumb:hover {
    background: #ccc;
}