#content-container .heading {
    font-weight: bold;
    font-size: 24px;
    margin: 50px 30px 30px 30px;
}

#content-container p {
    margin: 0 0 15px 0;
}

#basic-container {
    background-color: white;
    padding: 30px 30px 15px 30px;
    border-radius: 10px;
    margin: 30px;
    font-size: 17px;
}

#basic-container img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 25px;
}

#details-container {
    background-color: white;
    padding: 30px 30px 15px 30px;
    margin: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    font-size: 17px;
}

#details-container #column-1 {
    order: 1;
    flex: 1 1 auto;
    align-self: auto;
    margin-right: 30px;
}

#details-container #column-2 {
    order: 2;
    flex: 1 1 auto;
    align-self: auto;
}

#details-container #row {
    order: 3;
    flex: 0 1 100%;
    align-self: auto;
}

#details-container a {
    text-decoration: none;
    color: tomato;
}

#details-container a:visited {
    color: purple;
}

#details-container a:hover {
    text-decoration: underline;
}

#queries-container {
    background-color: white;
    padding: 30px 30px 15px 30px;
    margin: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 17px;
}

#queries-container .query {
    flex: 1 1 100%;
}

#carousel-buttons {
    margin: 0 auto 30px auto;
    width: fit-content;
}

#carousel-buttons button {
    cursor: pointer;
    color: white;
    font-size: 17px;
    border: 0;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: tomato;
    margin: 0 15px;
}