#content-container .heading {
    font-weight: bold;
    font-size: var(--heading-size);
    margin: 60px 30px 30px 30px;
}

#content-container p {
    margin: 15px 0;
}

#content-container .feedback {
    display: none;
    margin: 15px 0;
}

#content-container button {
    margin: 15px 0;
}

#basic-container,
#details-container,
#queries-container,
#interests-container {
    background-color: var(--surface-primary-light);
    padding: 15px 30px;
    margin: 30px;
    border-radius: 10px;
}

#basic-container img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin: 15px 0;
}

#details-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    column-gap: 30px;
}

#details-container #column-1 {
    order: 1;
    flex: 1 1 auto;
    align-self: auto;
}

#details-container #column-2 {
    order: 2;
    flex: 1 1 auto;
    align-self: auto;
}

#details-container #row {
    order: 3;
    flex: 0 1 100%;
    align-self: auto;
}

#queries-container #carousel-buttons {
    margin: 0 auto;
    width: fit-content;
}

#queries-container #carousel-buttons button {
    margin: 15px;
}

#interests-container #interests-selection {
    margin: 15px 0 30px 0;
}

#interests-container #viewing-date {
    display: none;
    margin-bottom: -15px;
}

#interests-container #related-offers {
    display: none;
    margin-bottom: -15px;
    width: calc(50% - 8px);
}

#interests-container #offer-price {
    display: none;
    margin-bottom: -15px;
    width: calc(50% - 8px);
    float: right;
}

#interests-container textarea {
    margin: 30px 0 15px 0;
    resize: vertical;
}