#queries-container .query-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    margin: 30px auto;
    font-size: 18px;
    width: 75%;
}

#queries-container a {
    text-decoration: none;
    color: tomato;
}

#queries-container a:visited {
    color: purple;
}

#queries-container a:hover {
    text-decoration: underline;
}

#queries-container p {
    font-size: 17px;
    margin: 20px 0 0 0;
}