#login-form {
    background-color: white;
    padding: 30px;
    margin: 80px auto;
    border-radius: 10px;
    width: 400px;
}

#login-form input {
    display: block;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid lavenderblush;
    padding: 12px 16px;
    margin: 15px 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

#login-form input:focus {
    border: 2px solid tomato;
    outline: none;
}

#login-form button {
    cursor: pointer;
    color: white;
    font-size: 16px;
    border: 0;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: tomato;
}

#login-form #feedback {
    display: none;
    font-size: 16px;
    color: tomato;
    margin-top: 30px;
}