body {
    background-color: #fdf1d3;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 18px;
    color: #3c3c3c;
    margin: 16px 6px;
}

input,
button,
.block {
    font-size: 16px;
    padding: 12px 20px;
    margin: 6px;
    border-radius: 6px;
}

input:focus,
.block {
    border: 2px solid #ff9900;
}

input {
    width: 160px;
    outline: none;
    border: 2px solid #ccc;
    transition: 0.5s;
}

button {
    background-color: #ff9900;
    border: none;
    color: white;
    cursor: pointer;
}

.block {
    text-align: center;
    width: auto;
    display: inline-block;
}

.error-message {
    font-size: 16px;
    color: tomato;
    margin: 8px 6px;
    display: inline-block;
}

.chart {
    margin: 60px;
}

form {
    padding: 0 10px 10px 10px;
}